<table>
  <caption>
    All Games Available
  </caption>
  <tr>
    <th>ID</th>
    <th>Game</th>
    <th>Released Year</th>
    <th><%= devHeader %></th>
    <th><%= genreHeader %></th>
    <th>Sales</th>
    <th>Updates</th>
    <th>Delete</th>
  </tr>
  <% for( let i = 0; i < gameArr.length; i++ ) { %>
  <tr>
    <td><%= gameArr[i].id %></td>
    <td><%= gameArr[i].game %></td>
    <td><%= gameArr[i].year %></td>
    <td><%= gameArr[i].dev %></td>
    <td><%= gameArr[i].genre %></td>
    <td><%= gameArr[i].sales %> Millions</td>
    <td>
      <button id="<%= gameArr[i].id %>" class="updateBtn">Update</button>
    </td>
    <td>
      <form action="/delGm/<%= gameArr[i].id %>" method="post">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  <% } %>
</table>
