<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/homePageLink') %>
    <h1><%= pageState %></h1>
    <form action="/<%= action %>" method="post">
      <label for="newDev">
        Studio Name :
        <input type="text" name="newDev" id="newDev" value="<%= newDev %>" />
      </label>

      <label for="yearFd">
        Year Founded :
        <input type="number" name="yearFd" id="yearFd" value="<%= yearFd %>" />
      </label>
      <br />
      <fieldset class="games">
        <legend>Games Made:</legend>
        <% for( let i = 0; i < gameArr.length; i++ ) { %>
        <div class="games-checkbox-wrapper">
          <input type="checkbox" name="gamesMd[]" id="games_<%= gameArr[i].id
          %>" value="<%= gameArr[i].id %>" <%= gamesMd.includes(gameArr[i].id) ?
          'checked' : '' %> />
          <label for="games_<%= gameArr[i].id %>"><%= gameArr[i].game %></label>
        </div>
        <% } %>
      </fieldset>
      <button type="submit"><%= submitState %></button>
    </form>
    <% if (locals.errors) {%> <%- include('partials/errors',{errors}) %> <% } %>
  </body>
</html>
