<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/homePageLink') %>
    <a href="edtDevPg/<%= devID %>">Edit Developer</a>
    <h2>Developer: <%= devName %></h2>
    <h2>Year Founded: <%= devYear %></h2>
    <form action="/devPage/delDev/<%= devID %>" method="post">
      <button type="submit">Delete Developer</button>
    </form>
    <%-include('partials/gamesTable', {gameArr,devHeader,genreHeader}) %>
  </body>
</html>
