<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/homePageLink') %>
    <h2>Genre: <%= genreName %></h2>
    <a href="edtGenrePg/<%= genreID %>">Edit Genre</a>
    <%-include('partials/gamesTable', {gameArr,devHeader,genreHeader}) %>
  </body>
</html>
